/* css para poder reeutilizar en varias páginas */

.imagen {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 150px;
    overflow: hidden;
    background-image: url("/img/mola.jpg");
    margin-top:25px;
}

.imagen p {
    color: white;
    opacity: 0.5;
    position: absolute;
    background-color: black;
    top: 130px;
    transition-duration: 1s;
    height: 150px;
}

.imagen:hover p {
    transition-duration: 1s;

    top: 0px;
}
/*Ventanas modales
**********************************************************************************************************/
.overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            transition: opacity 200ms;
            visibility: hidden;
            opacity: 0;
        }



        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

        .popup {
            position:relative;
            text-align:center;
            top:20%;
        }




        #popup1 .close {
            position:absolute;
            right:10%;
            top:0px;
            opacity: 0.5;
            transition: all 200ms;
            font-size: 24px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }

        #popup1 .close:hover {
            opacity: 1;

        }
