/*
    HOJA DE ESTILOS PARA LAS ETIQUETAS HTML5
    body, h1-h6, select, p, span, ul, ol, li, table...
*/

h1 {
    font-family: 'Roboto', cursive;
    color: teal;
    text-align: center;
    font-size: 5em;
    margin-bottom: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

select {
    margin: auto;
    display: block;
}

table {
    margin: auto;
}

/********************NAVEGACIÓN********************/

/*nav ul {
    background-color: cadetblue;
    height: 32px;
}

nav ul li {
    list-style: none;
    border: 1px solid black;
    padding: 5px 10px;
    float: left;
}

a {
    text-decoration: none;
}*/
