/*
   CSS para todas las etiquetas de HTML
*/


body {
    font-family: "roboto", sans-serif;
    /*font-size: 48px;*/
    background: -moz-linear-gradient(top, rgba(0,0,0,0.37) 4%, rgba(0,0,0,0.48) 20%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.37) 4%,rgba(0,0,0,0.48) 20%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.37) 4%,rgba(0,0,0,0.48) 20%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff7',GradientType=0 ); /* IE6-9 */
}

a {
    text-decoration: none;
}

select {
    margin: auto;
    display: block;
    margin-bottom: 25px;
    font-size: 1.5em;
}

h1 {
    color: teal;
    text-align: center;
    font-size: 2em;
}

li {
    list-style: none;
}


button {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background-color: #DDD;
    color: #000;
    border: 1px solid #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
}
