/*

CSS para las etiquetas de la web

********************************/


body{
    font-family: "Roboto";
}

h1 {
    color:darkcyan;
    text-align: center;
    font-size: 2em;
    margin:20px;
    font-family: "Roboto";
    /*font-family: 'Libre Barcode 39', cursive;*/
}

h2{
    text-align: center;
    margin: 10px;
    font-size: 1.5em;
}

table {
    border: solid 2px black;
    margin: 10px auto;
}

tr {
     border: solid 2px black;
}

td {
    border: solid 2px black;
    padding: 5px;
    text-align: center;
    width: 4em;
    height: 2em;
}

ul {
    list-style: none;
    background-color: darkcyan;
    color:white;
    text-align: center;
}

li {
    border: 2px solid black;
    display: inline-block;
    margin : 1em;
    padding: :1em;
    text-align: center;
}

a {
    color:green;
    text-decoration: none;
    text-align: center;
    margin: auto;
    background-color: black;
}
