/*CSS para todas las etiquetas de HTML*/

body {
    font-family: 'Roboto';
    /*font-size: 48px;*/
}

select {
    margin: auto;
    display: block;
    margin-bottom: 25px;
    font-size: 1.5em;
}

h1 {
    color: teal;
    text-align: center;
    font-size: 2em;
    /*font-family:'Bangers', cursive;*/



button {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background-color: #DDD;
    color: #000;
    border: 1px solid #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;

}
