/* CSS Todas las etiquetas de HTML */



body {
  font-family: 'Roboto', sans-serif;
  /*font-size: 48px;*/
}

select{
    margin: auto;
    display: block;
    margin-bottom: 25px;
    font-size: 0.8em;
}

h1 {
    color:teal;
    text-align: center;
    font-size: 2em;
    font-family:"roboto";

}


#precio {
    font-size: 3em;
    text-align: center;
}

button {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background-color: #DDD;
    color: #000;
    border: 1px solid #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;

}
#btn_show_hide{
    display:inline;
    margin: auto;
    margin-bottom: 15px;
    background-color: #DDD;
    color: #000;
    border: 1px solid #000;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5em;
}


#tabla-alumnos{
    margin: auto;
}

#tabla-alumnos td {
    border: 1px solid #2f72cc;
    padding: 20px;
    width: 80px;
    text-align: center;
}

/*
      # id
      . class
*/
#tabla-alumnos .alumno{
    background-color: #2f72cc;
    color: #FFF;
}




#voluntario {
    font-size: 2em;
    text-align: center;
    color: orange;
}
