/*
Roboto
https://fonts.google.com/?selection.family=Roboto
*************************************************/

@font-face{
	font-family:"roboto";
	src: url('../fonts/roboto/Roboto-Thin.ttf')
		/*sería interesante tener el mismo tipo de fuente pero con diferentes extensiones (ttf, woff, etc)*/
}
