/*css para las secciones principales de la web, por ejemplo:
container,encabezados, main, footer, sidebar, etc...*/
.alumnos{
    text-align: center;
}
.presente{
     background: linear-gradient(#6DCDDA, yellow);

}
.container{
    max-width: 1200px;
    margin:auto;
}
nav#main{
    margin-bottom: 2em;
    display:inline-block;
    width:100%;
    background-color:#000;
}

nav#main .active {
    background-color: #4CAF50;
}
ul, li{
    list-style: none;
}
nav ul li a{
    background-color:#000;
    text-decoration:none;
    color:#FFF;
    padding:10px 15px;
    display:block;
}
nav ul li a:hover{
    background-color:#434343;

}
nav > ul > li{
    float:left;
}
nav ul li ul{
    display:none;
    position:absolute;
    min-width: 150px;
}
nav ul li:hover >ul{
    display:block;
}
nav ul li ul li{
    position:relative;
}
nav ul li ul li ul{
    top:0;
    right:-150px;
}


