/* CSS para las secciones principales de la web
por ejemplo: container, encabezados, main, footer, sidebar...*/

.container {
    max-width: 1200px;
    margin: auto;
}

.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

nav#main{
    margin-bottom: 45px;
}

nav#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 45px;
}

nav#main li {
    float: left;
    width: 100%;
}

nav#main li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

/* Change the link color to #111 (black) on hover */
#main li a:not(.active):hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
