/* Nuestra hoja de estilos */
h1{
    text-transform: uppercase;
    color: teal;
    text-align:center;
    font-size: 2em;
}

div{
   display: flex;
   justify-content: center;
}

#imagen img {
    display: block;
   margin: 0 auto;
    width: 50%;
    display: block;
}

p{
    text-align: center;
    font-size: 25px;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 5px;
}

#volver{
    font-size: 20px;
    text-decoration: none;
    text-decoration: none;
}

#alumnos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

#alumnos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#alumnos tr:nth-child(even){background-color: #f2f2f2;}

#alumnos tr:hover {background-color: #ddd;}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 20px;
}

#btnreset{
    display: none;
}

#lector{
    height: 25px;
}

span {
    border: 5px dotted red;
}

.container{
    min-width: 1200px;
    margin: auto;
}

