/*
   Media Querys para Adapatar a un Nexus 5
   solo orientación portrait
*/




      @media screen and (max-width: 425px) {
          header{
              visibility: hidden;
              display:none;
          }
          .navBar{
              visibility: hidden;
          }

    #wrapper {
        max-width: 900px;
        margin: 0 auto;
        text-align: left;
    }
    section[data-type=slider] img {
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 5px #333;
    }




    article[data-type=cols] section {
        display: inline-block;
        margin: 0 -3px 0 0;
        width: 100%;
    }
          article[data-type=cols] section p {
        padding: 0 10px;
        font-size: 1.3em;
        line-height: 1.8em;
         }

    article[data-type=cols] section p {
        padding: 0 10px 35px 0;
        font-size: 2em;
        line-height: 1.8em;
    }
    .gallery ul {
    text-align: center;
    display: inline-grid;
        max-width: 100%
}
.gallery li {
    display: inline-block;
    padding: 0 0em 0em 0;
    width: 100%;
}
        a img {
    border: none;
    width: 425px;
}
          /********************\
  $Reset ☰
\********************/
* {
  box-sizing:border-box;
}
body {
  margin:0;
  padding:0;
  background-color:#A9BC00;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  text-decoration:none;
}
/********************\
  $Layout ☰
\********************/

/*Damos estilos al menú*/
.nav {
  position:absolute;
  width:200px;
  height:100vh;
  top:0;
  left:-220px; /*Ocultamos el menú en la parte izquierda para que no se vea a menos que pulsemos sobre la hamburguesa*/
  padding-top:47px;
  background-color: rgba(29, 33, 32, 1);
  border-right:4px solid rgba(114, 126, 3, 1);
  transition:all .5s ease; /*Damos a la caja del menú una transición para que tenga un desplazamiento suave*/
}
}
