/*HOJA DE ESTILOS PERSONALIZADA*/

/*    ÃNDICE:
*    1.
*    2.
*    3.
*/

/*HEADER*/

.container-fluid {
    margin: 0;
    padding: 0;
}

.logo {
    border: 2px solid lightgoldenrodyellow;
    padding: 20px;
    border-radius: 50%;
}

/*CONTENT: RECETAS*/

.plantillaReceta {
    display: none;
}

#secRecetas {
    padding-bottom: 200px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#recetas img {
    max-width: 300px;
    height: 200px;
}

.caption {
    text-align: center;
}

.infoReceta {
    display: flex;
    justify-content: space-between;
}

.fa-heart {
    color: red;
}

.ingredientes {
    margin: 10px 0;
    text-align: center;
}


/*FORMULARIO*/

#formNuevaReceta {
    position: fixed;
    bottom: 50px;
    padding-bottom: 20px;
    background-color: white;
}

/*FOOTER*/

.rrss {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.rrss > i {
    padding: 0 5px;
}
