/*HOJA DE ESTILOS PERSONALIZADA*/

/*    ÃNDICE:
*    1.
*    2.
*    3.
*/

/*HEADER*/

.container-fluid {
    margin: 0;
    padding: 0;
}

header div:first-child {
    position: fixed;
    background-color: #589442;
    padding-left: 5px;
    border-radius: 10%;
    width: 75px;
}

.logo {
    /*border: 2px solid lightgoldenrodyellow;*/
    padding: 20px;
    border-radius: 50%;
    color: lightgoldenrodyellow;
}

/*CONTENT: RECETAS*/

.plantillaReceta {
    display: none;
}

#secRecetas {
    padding-bottom: 200px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.cntImagen {
    display: flex;
    justify-content: center;
    position: relative;
}

.iconoBorrar {
    position: absolute;
    left: 300px;
    top: -20px;
    background-color: white;
    border-radius: 50%;
}

#recetas img {
    max-width: 300px;
    height: 200px;
}

.caption {
    text-align: center;
}

.infoReceta {
    display: flex;
    justify-content: space-between;
}

.fa-heart {
    color: red;
}

.ingredientes {
    margin: 10px 0;
    text-align: center;
}

/*FORMULARIO*/

#anadirReceta {
    display: flex;
    margin-bottom: 10px;
}

#anadirReceta > i {
    color: orangered;
    background-color: white;
    border-radius: 50%;
    -webkit-text-shadow: 4px 4px 2px rgba(100, 100, 100, 1);
    -moz-text-shadow: 4px 4px 2px rgba(100, 100, 100, 1);
    text-shadow: 4px 4px 2px rgba(100, 100, 100, 1);
}

#titAnadirReceta {
    margin-left: 10px;
}

#formNuevaReceta {
    position: fixed;
    bottom: -190px;
    padding: 5px 5px 25px 5px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
}

/*FOOTER*/

.rrss {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.rrss i {
    margin: 0 10px;
    color: lightgoldenrodyellow;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    border-radius: 10px;
    background: #405de6;
    background: -moz-linear-gradient(top, #405de6 0%, #c13584 33%, #f56040 66%, #ffdc80 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #405de6), color-stop(33%, #c13584), color-stop(66%, #f56040), color-stop(100%, #ffdc80));
    background: -webkit-linear-gradient(top, #405de6 0%, #c13584 33%, #f56040 66%, #ffdc80 100%);
    background: -o-linear-gradient(top, #405de6 0%, #c13584 33%, #f56040 66%, #ffdc80 100%);
    background: -ms-linear-gradient(top, #405de6 0%, #c13584 33%, #f56040 66%, #ffdc80 100%);
    background: linear-gradient(to bottom, #405de6 0%, #c13584 33%, #f56040 66%, #ffdc80 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#405de6', endColorstr='#ffdc80', GradientType=0);
}

.fa-youtube-play:hover {
    color: #ff0000;
}

.fa-rss-square:hover {
    color: #f26522;
}
