.header {
    background-color: orange;
    margin-bottom: 15px;
}

.header img {
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 1em;
    margin-right: 3em;

}

.header .h1 {
    display: inline-block;
    text-align: center;
    font-size: 4em;
    margin: auto;

}


.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: top;

}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;


    padding-top: 2em;
    position: relative;
    height: auto;
    width: 23%;
    margin: 10px 1%;
    text-align: center;
    margin-bottom: 5px;


}

.img-responsive{
    max-height: 200px;
    width: auto;
}


.box .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: black;
}
/*
@keyframes mostrar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#recetas .box:last-child {
    animation-name: mostrar;
    animation-duration: .5s;

}
*/
.caption{
    width: 90%;
    margin: auto;

}

.caption .h3 {
    width: 90%;
    text-align: center;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.info .cocinero{
    text-align: right;
}

.ingredientes {
    position: absolute;
    bottom: 3px;
    left: 5%;
    border-top: 2px solid gray;

    width: 90%;
    margin: auto;


}

#menuForm {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    transition-duration: .5s;

}

#menuRecetas, #divFormRecetas {
    margin: 0;
    padding: 0;
    height: 30px;

}

#menuRecetas a{
    margin-left: 1em;
    padding: 1em;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: gray;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

#menuRecetas a:hover{
    cursor: pointer;
}


input {
    max-width: 90%;
    margin: auto;
}


