# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/AingeruPalazuelo/
/AintzineBizkarra/
/AlexanderBartolome/
/DavidVico/
/InakiAretxabaleta/
/InigoGallegoGonzalez/
/IzaskunRuiz/
/JavierEscalante/
/JonAnderGonzalez/
/JorgeAlcauzar/
/JosebaClemente/
/LeireMunarriz/
/NombreXApellidoY/
/PatriHoz/
/Xabier_Ayestaran/
/ander/
