html,body{
padding: 0 0 125px;
        margin: 0px;


}

header{

    background-color: chocolate;


}
.thumbnail{


    margin-top: 20px;
}

a{


    color:  white;
}


.fa-2x{

    margin-top: -20px;
     font-size: 2.2em;
}

.navbar-header a{

    font-size: 16px;

}

footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
    font-size: 1.1em;
    position: fixed;
    height: 145px;



}

.row{


    bottom: 50px;

}

.form-group{

    margin-bottom: 0px;
}

.navbar-brand{

    font-size: 18px;

}

.fa-eye:hover{

    color: yellow;


}



.fa-heart:hover{

    color: red;

}

.cerrar span{

    border: 2px solid black;
 -webkit-border-radius: 5555px;
-moz-border-radius: 5555px;
border-radius: 5555px;
    font-size: 21px;
    width: 200px;
}


@media (max-width: 991px) {
  #thumb {
        margin-top: 130px;
  }
