header {
    background-color: #2196f3;
    margin: 0 auto;
    position: fixed;
    z-index: 99;
    width: 100%;
    font-family: 'Russo One', sans-serif;
}

#principal,
footer {
    font-family: 'roboto', sans-serif;
}

header .container {
    padding: 10px 20px;
    color: #FFF;
}

#principal {
    min-height: 100%;
    overflow: auto;
    position: relative;
    padding-top: 100px;
    padding-bottom: 110px;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.thumbnail {
    min-height: 400px;
    position: relative;
}

.thumbnail img {
    min-height: 250px;
}

.thumbnail .close {
    min-width: 1em;
    position: absolute;
    top: -5px;
    right: 0;
    color: #DDD;
    background-color: #444;
    border-radius: 50%;
    font-size: 2em;
    opacity: 0.7;
    text-align: center;
}

.thumbnail .close:hover{
    opacity: 1;
}
form {
    display: fixed;
    margin: auto;
}

form input {
    float: left;
    min-width: 18%;
    margin: 1%;
}

form legend {
    margin-bottom: 5px;
}

#cocinero {
    text-align: right;
}

footer {
    background-color: #FFF;
    z-index: 99;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 500px;
}

.copyright {
    margin: 70px 0 0 0;
    clear: both;
    background-color: #2196f3;
    color: azure;
}

.copyright p {
    margin: 0 auto;
    text-align: center;
}
