#tenedor{
    padding: 10px;
    margin-right: 25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: darkgray;
}

#cabecera{
    background: url("https://images3.alphacoders.com/175/175459.jpg");
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;



}

h1{

    color:aliceblue;
}

.cocinero{
    float: right;
    color: darkgreen;
}

.likes{
    color: red;
}


#pie{
    position: fixed;
    bottom: -420px;
    background-color: beige;
    width:100%;
    z-index: 999;
<<<<<<< HEAD
=======

}
/*
#pie:hover{
>>>>>>> origin/InakiAretxabaleta

    bottom: 75px;
    transition: 1s;

}
*/
.copiright{
    position: fixed;
    bottom: 0px;
    background-color: beige;
    width:100%;
}
/*
#pie:hover{

    bottom: 75px;
    transition: 1s;

}
*/
.copiright{
    position: fixed;
    bottom: 0px;
    background-color: beige;
    width:100%;
}

body{
    background-color: cadetblue;
}

.containerRecetas{
    padding-bottom: 200px;
    background-color: beige;
    padding-top: 40px;

}

.copiright{
    padding-top: 20px;
    z-index: 999;
}

.receta img{
   /* position: absolute; */
<<<<<<< HEAD
    max-height: 200px;
=======
    min-height: 300px;
>>>>>>> origin/InakiAretxabaleta

}

.cerrar{
    position: relative;
    width: 30px;
    height: 30px;
    top:-10px;
    padding-top: 5px;
    text-align:center;
    z-index: 100;
    background-color: grey;
    float: right;
    font-weight:900;
<<<<<<< HEAD
=======
}

.cerrar:hover{
    top:-12px;
    right: -2px;
    color: aliceblue;

>>>>>>> origin/InakiAretxabaleta
}

.cerrar:hover{
    top:-12px;
    right: -2px;
    color: aliceblue;

}

