.container{
    max-width: 900px;
    margin: auto;
    color: teal;

}

header{
    background-color: #E6E6E6;
}

.row{
    padding-bottom: 60px;
}

.thumbnail .close{
            position: absolute;
            top: 0px;
            right: 15px;
            color: #FFF;
            background-color: #000;
            font-size: 0.8em;
            border-radius: 50%;
            opacity: 1;
            padding: 2px;
        }


footer{
  position: fixed;
    height: 60px;
    bottom: 0;
    background-color: #E6E6E6;
}

.footer{
    color: #000000;
    opacity: 0.8;
    font-size: 1em;
}



