h1,
h3,
h4 {
    font-weight: bold;
}

body {
    font-family: "roboto">;
    background-color: #F5DA81;
}

img {

    max-width: 200px;
    border-radius: 10px;
    margin: 10px;
}

li {
    list-style: none;
}

header {
    width: 100%;
    background-color: cadetblue;
}

footer {
    position: fixed;
    /*height: 20px;*/
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    z-index: 999;
}

form {
    padding: 10px;
    background-color: lightgrey;
}

p {
    margin: 10px;
}

button {
    margin: 10px;
}


.col-3 {
    width: 30%;
}

.row {
    margin: 20px 0px
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 125px;
    align-items: center;
    align-content: space-around;
}

.box {
    /* display: flex;*/
    width: 75px;
    height: 75px;
    background-color: grey;
    color: #FFF;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    /* margin: 10px; si usamos container-flex quitamos esta propiedad */
    position: relative;
}

.box .close {
    position: absolute;
    top: -10px;
    right: -5px;
    color: cadetblue;
    background-color: aqua;
    font-size: 0.5em;
    border-radius: 50%;
    opacity: 1;
    padding: 2px;
}

.cerrar {
    position: relative;
    width: 30px;
    height: 30px;
    top: -10px;
    padding-top: 5px;
    text-align: center;
    z-index: 100;
    background-color: dodgerblue;
    float: right;
    font-weight: 600;
    border-radius: 50px;
    left: 30px;
    color: azure;
}

.receta {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 300px;
    min-width: 250px;
    margin: 20px;
    /*background-color: gainsboro;*/
    background-color: #01DFA5;
}

.thumbnail {
    border: none;
    margin-top: 20px;
}

.likes {
    color: dodgerblue;
}

.derecha {
    float: right;
    font-style: oblique;
}

.izquierda {
    float: left;
}

#footer-p {
    font-style: oblique;
    text-align: center;
    background-color: darkgray;
}

#formulario {
    border-radius: 10px;
    margin: 20px;
}

#likes {
    width: 50px;
}

#btnIngrediente {
    margin: 0 auto;
    display: inline-block;
}
