/* HOJA DE ESTILOS

    @Author: Aingeru
    @version: 1.0
    @fecha: 2018-01-30

*/

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
    color: teal;
    text-align: center;
    font-size: 2em;
}

h2 {
    color: darkorange;
    text-align: center;
    font-size: 2em;
}

#logo_bitcoin {
    width: 100px;
    margin: auto;
    display: block;
}

.button {
    background-color: #f44336; /* RED */
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    display: block;
}

p {
    text-align: center;
}

select {
    margin: auto;
    display: block;
}

table {
    margin: auto;
}

#tabla_alumnos td {
    width: 80px;
    height: 30px;
    padding: 10px;
}

#tabla_alumnos .alumno {
    text-align: center;
    border: 5px solid orange;
}

#numero {
    margin: auto;
    display: block;
}
