form{

    border: 1px solid #000;
    margin: 20px auto;
    padding: 20px;
}


input[type="text"], input [type="email"]:invalid{


    color: red;
}

input[type="text"],input [type="email"]:valid{

    color: green;

}


input[type="reset"]{

    float: left;


}

input[type="submit"]{

    float: right;


}

fieldset {

        border: 1px solid black;
    padding: 20px;
}
