[data-icon]:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
    font-size: 5em;
}


body{
    font-family: "roboto";
    background: rgb(102, 210, 243);
}

h1{
    color:#FFF;
    text-align: center;
}


@keyframes move{
    0%{
        font-size: 100%;
        /*transform: rotate(360deg);*/
    }
    50%{
        font-size: 90%;
    }
    100%{
        font-size: 100%;
    }
}


#cnt-weather{
    position: relative;

    margin: 20px auto;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: #FFF;

    /* sombra */
    -webkit-box-shadow: 7px 7px 25px -1px rgba(87,79,87,0.62);
    -moz-box-shadow: 7px 7px 25px -1px rgba(87,79,87,0.62);
    box-shadow: 7px 7px 25px -1px rgba(87,79,87,0.62);
}

#cnt-weather .temp,#cnt-weather .city,#cnt-weather .icon {
    position: absolute;
    margin: 0;
}


#cnt-weather .temp{
    font-size: 6em;
    color: #B8B8B8;
    bottom: 30px;
    left: 20px;
}
#cnt-weather .city{
    font-size: 1.2em;
    color: #B8B8B8;
    bottom: 15px;
    left: 25px;
}
#cnt-weather .icon{
    /*animation: move 5s ease-in-out infinite;*/
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    /*animation-delay: 0;*/

    top:10px;
    right: 10px;
    color:#595959;
}
.center{
    margin: 20px auto;
    max-width: 300px;
}

.center input, .center button{
    display: block;
    margin: auto;
}

.center input{
    padding: 5px 10px;
    font-size: 1.2em;
}

.center button{
    font-size: 1.2em;
}


