@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@keyframes move{
    0%{
        font-size: 100%;
        width: 50%
        transform: rotate(30deg);
    }
    50%{
        font-size: 90%;
        width: 80%
        color:black;
        transform: rotate(-30deg);
    }
    100%{
        font-size: 100%;
        width: 50%
        transform: rotate(30deg);
    }
}
body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+18,05abe0+46,05abe0+83 */
    background: #87e0fd;
    /* Old browsers */
    font-family: "roboto";
    text-align: center;
}
.tocar{
    margin-top: 50px;
}

h1 {
    color: white;
    text-align: center;
}

#cnt_widget .temp,
#cnt_widget .city,
#cnt_widget .icon {
    position: absolute;
    margin: 0;
}

#cnt_widget .temp {
    font-size: 6em;
    color: #b8b8b8;
    bottom: 30px;
    left: 25px;

}
[data-icon]:before {
    font-size: 5em;
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);

}
#cnt_widget .icon{
    /*animation: move 5s ease-in-ot infinite*/
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function:  ease-in-out;
    animation-iteration-count: infinite;
}
#cnt_widget .icon {
    top:10px;
    right: 10px;
    color:#b8b8b8;
}

#cnt_widget .city {
    font-size: 1.2em;
    color: #b8b8b8;
    bottom: 15px;
    left: 25px;
}

#cnt_widget {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background-color: aliceblue;
    box-shadow: 1px;
    margin: auto;
    /* Sombra */
    -webkit-box-shadow: 21px 25px 30px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 21px 25px 30px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 21px 25px 30px -1px rgba(0, 0, 0, 0.75);
}
