/* Nuestra hoja de Estilos

    @Autor: Ander
    @version: 1.0
    @fecha: 18/01/30


*/
h1 {
    color:teal;
    text-align: center;
    font-size: 2em;
}

table {
    text-align: center;
    margin: auto;

}
.contenido{
    border-spacing: 15px;
    background: skyblue;
    color: black;
}
td {
width: 10em; /*Aquí va el ancho de la Celda*/
height: 5em; /*Aquí el Alto*/
}
p{
    text-align: center;
}
