/*NEXUS 5*/
@media only screen and (max-width: 425px) {

    h1{
        font-size: 2em;
        text-align: center;

    }

   header img, .navBar {

        display: none;

    }

    /*Principio MENU*/
    .movilnavbar{

       display: block;
        background-color: #000;
        color: #FFF;
        width: 50%;
        height: 100vh;
        position: fixed;
        z-index: 2;
        left: -50%;
        top: 0px;
        bottom: 0px;
    }



    /*Final*/






    section[data-type=slider] img {

        width: 100%;
margin-bottom: 20px;


    }

    p {

        font-size: 1.4em;

        line-height: 1.1em;
    }

    footer p{

        font-size: 0.9em;
    }


    article[data-type=cols] section {
        width: 100%;
        margin-bottom: 15px;;

    }

    .gallery h2 {


        text-align: center;
    }

    .gallery ul li {

        display: block;
        margin: auto;
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;

    }
    .gallery li img {

        width: 100%;
        height: auto;

    }

    .gallery ul {
        padding: 15px;



    }


    footer article[data-type="cols"]{

        width: 100%;
    }

}

@media (min-width: 426px) {

    .navnextBar {

        display: none;

    }

    h1{

    display: none;

}
}
