

/* #1 presentation */

	header {
		border-top:4px solid #315968;
	}
		header img {
			margin:0 0 0 10%;
		}

	.navBar {
		position:relative;

		height:96px;
		margin:0 auto;
		background:url(../img/ribbon-fnd.png) repeat-x 0 0;
		text-align:center;
	}

		.navBar a {
			display:inline-block;
			width:29.9%;
			margin:4px 10px 0 0;
			background:#4a7e08;
			font:20px/59px Times, serif;
			text-transform:uppercase;
			color:#000;
			text-decoration:none;
		}

		.navBar .active {
			border-left:1px solid #000;
			border-right:1px solid #000;
			background:#315968;
			color:#fff;
		}

	.navBar:before {
		position:absolute;
		left:-125px;
		top:0;
		display:block;
		content:" ";
		width:125px;
		height:96px;
		background:url(../img/ribbon-left.png) no-repeat 0 0;
	}

	.navBar:after {
		position:absolute;
		right:-125px;
		top:0;
		display:block;
		content:" ";
		width:125px;
		height:96px;
		background:url(../img/ribbon-right.png) no-repeat 0 0;
	}

	section[data-type=slider] {
		margin:20px 0;
		text-align:center;
	}
		section[data-type=slider] img {
			max-width:90%;
			border-radius:10px;
			box-shadow:0 0 5px #333;
		}

	article[data-type=cols] {
		margin:0 auto;
		padding:0 0 20px 0;
		border-bottom:1px solid #8ec1cb;

		/*-moz-column-count:3;
		-moz-column-gap:60px;*/
		font-size:14px;
		line-height:1.1em;
	}
		article[data-type=cols] section {
			display:inline-block;
			margin:0 -3px 0 0;
			width:25%;
		}
			article[data-type=cols] section p {
				padding:0 10px;
			}

	.gallery {
		margin:0 auto;
		padding:20px 0 0 0;
		border-top:1px solid #a5d3db;
	}

		.gallery h2 {
			padding:1em 0;
			text-align:left;
			font-size:22px;
			font-weight:bold;
		}

		.gallery ul {
			text-align:center;

		}

			.gallery li {
				display:inline-block;
				padding:0 1em 2em 0;
				width:33%;
			}

				.gallery li img {
					max-width:100%;
					border:5px solid #fff;
					box-shadow:0 0 5px #333;
				}

	footer {
		position:relative;
		color:#83c3ce;
		padding:2em 0;
	}

		footer h2 {
			position:absolute;
			right:3em;
			top:-1.5em;
			background:#509ead;
			border-radius:10px;
			display:inline-block;
			padding:.5em 1em;
		}

		footer article[data-type="cols"] {
			width:90%;
			margin:0 auto;
			border-bottom:0;
		}
