/* nuestra hoja de estilos:
    Autor:Iñigo
    version:1.0
    fecha: 30-01-2018
*/
h1 {
    color:teal;
    text-align: center;
    font-size: 2em;
}
.presente{
     background: linear-gradient(#6DCDDA, yellow);

}
td{
    border: 1px solid black;
}
tr{

    height:50px;
}
table{
    width:100%;
    margin-bottom: 20px;
}

.alumnos{
    text-align: center;
}

