/*         CSS para las secciones principales de la Web, por ejemplo:
            container, encabezados, main, footer, sidebar, etc..
*/



.container{
    max-width:1200px;
    margin:auto;

}
/* menu principal */

nav#main{
    margin-bottom:45px;
}
nav#main li{
    display:inline-block;
}
nav#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
/** Flotar solor primer nivel **/
nav#main >li {
    display:inline-block;
    float: left;
}
/**ocultar resto de niveles */
nav#main li ul{
    display: none;
    position:absolute;
    min-width: 140px;
}

nav#main li:hover>ul{
    display:block;
    color: gray;
}
nav#main li ul li{
    display:block;
}

nav#main li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav#main li a:hover {
    background-color: #111;
}
nav#main     .active {
    background-color: #4CAF50;
}
