footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0;
    border-top: 1px solid lightgrey;
    background-color: white;
    #lid {
        position: relative;
        border-bottom: 1px solid lightgrey;
        text-align: center;
        cursor: pointer;
        i {
            transition: all 0.5s;
        }
    }
    #copy {
        background-color: forestgreen;
        color: white;
        text-align: center;
        font-size: 1.3em;
        padding: 5px;
        font-family: "lobster";
    }
}
