#fAlta {
//    display: none;
    padding: 0 10px;
    width: 100%;
    font-size: 0;

    //Forma con altura. Tiene que ser con max-height, ya que auto
    //no acepta transiciones
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.4s;

}

.form-group:not(:last-child) {
    display: inline-flex;
    justify-content: center;
    width: calc(100% / 5);
    margin: 10px 0;
    font-size: initial;
    .form-control {
        display: inline-block;
        @media screen and (max-width: 480px) {
            font-size: 0.6em;
        }
    }
    button{
        width: 90%;
    }

}

.form-group:last-child{
    width: 50%;
    margin:auto;
    textarea{
        width: 100%;
        min-height: 80px;
        display: inline-block;
        margin:0 auto 10px;
        border-radius: 3px;
        font-size: 1.4rem;
        @media screen and (max-width: 480px) {
            font-size: 1rem;
        }
    }
}
