header {
    background-color: forestgreen;
    color: white;
    font-size: 2em;
    padding: 5px 10px;
    ;
    margin-bottom: 20px;
    span {
        margin-left: 10px;
        font-family: "lobster";
    }
}
